.icon-grid{
  // background-color: #ff8a6698;
  background-color: #CA293D;
}

#dialog-home{
  // background-color: black;
  height: 75%;
  width: 75%;
  background-color: gray;
}


#dialog-home::backdrop{
  background-color: transparent;
}
