
.sidenav{
  height: 100%;
  width: 25%;
  position: relative;
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  font-family: 'Alegreya Sans', sans-serif;
}



.System .text{
  margin-left: 10px;
  font-size: 50px;
}

.Customazation .text{
  margin-left: 10px;
  font-size: 50px;
}

.About .text{
  margin-left: 10px;
  font-size: 50px;
}

.Credit .text{
  margin-left: 10px;
  font-size: 50px;
}

.close{
  background-color: transparent;
  float: right;
  border: transparent;
}

.close:hover{
  background-color: red;
  transition: 0.3s;
}

.settings::backdrop{
  background-color: transparent;
}

.settings{
  width: 45%;
  height: 75%;
  // background-color: gray;
  background-color: #2B88AA;
}

.seti{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

.bu{
  background-color: transparent;
  border: transparent;
}

.bu:hover{
  background-color: azure;
  transition: 0.3;
}
