<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap" rel="stylesheet">


<button (click)="close.emit()"><i class="material-icons">close</i></button>

<div class="sidenav">
  <div class="Credit">
    <i class="material-icons">search</i>
    <span class="text">Credit</span>
  </div>
  <div class="About">
    <i class="material-icons">question</i>
    <span class="text">About</span>
  </div>
  <div class="Customazation">
    <i class="material-icons">paint</i>
    <span class="text">Customazation</span>
  </div>
  <div class="System">
    <i class="material-icons">computer</i>
    <span class="text">System</span>

  </div>
</div>




<!-- <p>dialog-home works!</p> -->
