<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap" rel="stylesheet">


<button class="close" (click)="close.emit()"><i class="material-icons">close</i></button>




<div class="sidenav">

  <div class="System">

    <dialog id="d" class="settings">
     <button onclick="d.close()"><i class="material-icons">keyboard_backspace</i></button>
     <div class="seti">
      <p class="r1">You are currently using {{ browserName }} browser! <i class="material-icons">label_important</i> </p>
      <p class="r2">This website was built with Angular </p>
      <p class="r3">Languages nesscesary for this project to work were: HTML, CSS and TypeScript <i class="material-icons">label_important</i></p>
      <p class="r4">Some other notable tools to make this website work were: </p>
      <li class="r4">Github for backing up the project and for collaborations  <i class="material-icons">label_important</i> </li>
      <li class="r4">Firebase for hosting the website and database  <i class="material-icons">label_important</i> </li>
     </div>
    </dialog>

    <button class="bu" onclick="d.showModal()">
      <img src="assets/images/screen.svg" alt="screen">
      <span class="text">System</span>
    </button>
  </div>


  <div class="Customazation">

    <dialog id="a" class="settings">
      Dialoge test
      <button onclick="a.close()">Close</button>
     </dialog>

     <button  class="bu" onclick="a.showModal()">
      <img src="assets/images/pencil.svg" alt="pencil">
      <span class="text">Edit</span>
     </button>

  </div>


  <div class="About">

    <dialog id="b" class="settings">
      Dialoge test
      <button onclick="b.close()">Close</button>
     </dialog>

     <button  class="bu"  onclick="b.showModal()">
      <img src="assets/images/about.svg" alt="">
      <span class="text">About</span>
     </button>

  </div>


  <!--Since anes dosent want to be credited in the actual website, so here in code I credit you with the icons you, Anes made-->
  <div class="Credit">

    <dialog id="c" class="settings">
      Dialoge test
    <button onclick="c.close()"></button>
     </dialog>

     <button  class="bu"  onclick="c.showModal()">
      <i class="material-icons">person_pin</i>
      <span class="text">Credit</span>
     </button>

  </div>



</div>




<!-- <p>dialog-home works!</p> -->
