
.sidenav{
  height: 100%;
  width: 25%;
  position: relative;
  // background-color: yellow;
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Alegreya Sans', sans-serif;
}



.System .text{
  margin-left: 10px;
  font-size: 50px;
}
