input{
  position: absolute;
  width: 991px;
  height: 25px;

  // background: #84838393;
  // background-color: #7F052D;

  // background-color: #2B88AA;
  background-color: white;
color: black;



  //color: white;
  border: transparent;
}

.search-container {
  display: flex;
  align-items: center;
}

.input-container {
  align-items: center;
}

.input-container input {
  margin-right: 10px;
}

.input-container button {
  background: none;
  border: none;
  cursor: pointer;
}

.material-icons{
  color: white;
}
